*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    height: 100%;
    background-color: var(--bgMain);
    scroll-behavior: smooth;
}
:root{
    --paragraphTypographyFontFamily:'Roboto', sans-serif;
    --titleTypographyFontFamily:'Poppins', sans-serif;
    --paragraphFontWeight:400;
    --titleFontWeight:700;
    --middleFontWeight:600;

    --myGreen:#66fcf1;
    --myGreenSecond:#38908A;
    --myGray:#c6c6c6;
    --myWhite:#ffffff;
    --bgCard:#121212;
    --bgInput:#45A29E00;
    --bgInputSecond:#242424;
    --bgMain:#0B0C10;
    --myYellow:#fec42d;
    --borderColor:#363636;
}
h1,h2,h3,h4,h5{
    font-weight: var(--titleFontWeight);
    letter-spacing: 0.1px;
    font-size: 1.8rem;
    color: var(--myWhite);
    font-family: var(--titleTypographyFontFamily);
}
p, label{
    font-family: var(--paragraphTypographyFontFamily);
    font-size: 1rem;
    font-weight: var(--paragraphFontWeight);
    color: var(--myWhite);
    line-height: 1.5;
}
div.title h2{
    font-size: 5rem;
    letter-spacing: 0.5px;
    line-height: 1.4;
}
div.title h3{
    font-size: 3rem;
    letter-spacing: 0.5px;
    line-height: 1.4;
}
div.title .line{
    border-top: 2px solid var(--myGreen);
    width: 3rem;
    margin-right: 1rem;
}
div.title p{
    font-weight: 400;
    color: var(--myGreen);
    line-height: 2em;
    letter-spacing: 0.3px;
    font-size:1.1rem;
    text-transform: uppercase;
}
input:focus, button:focus{
    outline: 0;
}
input{
    background-color: var(--bgInputSecond);
    font-size: 1rem;
    font-weight: 400;
    color: var(--myGray);
    border-radius: 0px;
    border: 0px;
    padding: 1rem 1rem;
    width: 100%;
}
input[type=submit], a.button{
    font-family: var(--titleTypographyFontFamily), Sans-serif;
    font-size: 1rem;
    font-weight: var(--middleFontWeight);
    text-transform: uppercase;
    letter-spacing: 0.3px;
    background-color: var(--bgInput);
    border:2px solid var(--myGreen);
    border-radius: 0;
    padding: 0.9rem 1.7rem 0.9rem 1.7rem;
    cursor: pointer;
    color: var(--myWhite);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    width: auto;
}
input[type=submit]:hover, a.button:hover{
    border-color: var(--myGreenSecond);
}
input[type=checkbox]{
    width: auto;
    margin: 0 0.6rem 0 0 !important;
}
button{
    background-color: unset;
    border: unset;
}
.btnArrow{
    position: absolute;
    top: 45%;
    background: var(--bgMain);
    border-radius: 50%;
    height: 45px;
    width: 45px;
    z-index: 100001;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrowLeft{
    left:1.5%;
}
.arrowRight{
    right:1.5%;
}
i{
    font-size: 1.5rem;
    color: var(--myGreen);
    font-weight: 100;
}
i.ri-star-fill{
    color: var(--myYellow);
    font-size: 1.3rem !important;
}
i.ri-double-quotes-r{
    color:#66FCF15E;
    font-size: 1.6rem;
}
img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
a{
    text-decoration: none;
    cursor: pointer;
}
ul{
    list-style-type: none;
}
.itemsInlineFlex{
    display: inline-flex;
}
.itemsFlex{
    display: flex;
}
.alignCenter{
    align-items: center;
}
.justCenter{
    justify-content: center;
}
.alignEnd{
    align-items: flex-end;
}
.justEnd{
    justify-content: flex-end;
}
.center{
    margin: 0 auto;
}
.textCenter{
    text-align: center;
}
.gridOne{
    display: grid;
    grid-template-columns: 100%;
}
.gridTwo{
    display: grid;
    grid-template-columns: 50% 50%;
}
.gridThree{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.gridFour{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.heightComplet{
    height: 100%;
}
.w100{
    width: 100%;
}
.w95{
    width: 95%;
}
.w90{
    width: 90%;
}
.w85{
    width: 85%;
}
.w80{
    width: 80%;
}
.w70{
    width: 70%;
}
.w60{
    width: 60%;
}
.paddingInternalDefault{
    padding: 3rem 2.5rem 3rem 2.5rem;
}
.marginSideSmallIn{
    margin: 0 0.5rem;
}
.marginSideSmall{
    margin: 0 1rem;
}
.marginSideDefault{
    margin: 0 2rem;
}
.marginSideBiggerDefault{
    margin: 0 3.5rem;
}
.marginDownSmallIn{
    margin-bottom: 1.5vh;
}
.marginDownSmall{
    margin-bottom: 3vh;
}
.marginDownDefault{
    margin-bottom: 5vh;
}
.marginDownBigger{
    margin-bottom: 15vh;
}
.marginTopDefault{
    margin-top: 5vh;
}
.marginTopMiddle{
    margin-top: 10vh;
}
.marginTopBigger{
    margin-top: 15vh;
}
.divider{
    margin: 1rem 0;
}
.divider span{
    border-top: 2.4px solid var(--myGreen);
    display: block;
    width: 3rem;
}
.dividerVertical{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -3rem;
    display: flex;
    justify-content: center;
}
.dividerVertical span{
    border-right: 3px solid var(--myGreen);
    display: block;
    width: auto;
    height: 3rem;
}
.hideDesktop{
    display: none;
}
.hide{
    display: none;
}
.sliderElm{
    max-width: 95%;
    overflow: hidden;
}
/**/
.card{
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 4rem 2.5rem 4rem 2.5rem;
    background-color: var(--bgCard);
    position: relative;
    border: 3px solid transparent;
}
.card.active, .card:hover{
    border-color:var(--myGreen);
}
.cardTwo{
    padding: 3rem 2.5rem 3rem 2.5rem;
    border-bottom:5px solid var(--myWhite);
}
.cardTwo.active{
    background-color: var(--myGreen);
}
.card i{
    font-size: 3.8rem;
}
.card h2{
    font-size: 1.45rem;
}
.card .cardHeader{
    margin-bottom: 1.6rem;
}
.cardTwo.active h2, .cardTwo.active p, .cardTwo.active i{
    color: black;
}
section.sectionDefault{
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
/**/
header{
    position: absolute;
    width: 100%;
    z-index: 999;
}
header .wrap .row{
    height: 20vh;
}
header .logoMyName h2, .logoMyName{
    position: relative;
    line-height: 0;
}
header .logoMyName h2 a span, .logoMyName a{
    font-size:1.5rem;
    color: var(--myWhite);
    z-index: 3;
}
header .logoMyName h2 a:before, .logoMyName a:before{
    content:"";
    position: absolute;
    width: 60%;
    height: 3px;
    background-color: var(--myGreen);
    z-index: 1;
}
header a{
    font-family: var(--titleTypographyFontFamily);
    font-weight: var(--middleFontWeight);
    color: var(--myWhite);
    letter-spacing: 0.1;
}
header .menuItems ul li{
    padding: 1rem 1.2rem;
    position: relative;
    transition: all ease-out 250ms;
}
header .menuItems ul li.search{
    padding: 1rem 0;
}
header .menuItems ul li.search i{
    color: var(--myWhite);
    font-size:1.2rem;
}
header .menuItems ul li.active a{
    color: var(--myGray);
}
header .menuItems ul li.active a:after{
    content:"";
    width:100%;
    height:3px;
    background-color: var(--myGreen);
    position: absolute;
    bottom:0;
    left:0;
}
footer{
    background-color: var(--bgMain);
    padding: 2rem 0;
}
footer .logoMyName a{
    font-size: 1rem;
}
footer .networks a {
    margin: 0 0.5rem;
}
footer .networks a i{
    color: var(--myWhite);
    font-size: 1.3rem;
}
/**/
section.myApresentation{
    background-image: url('../images/bgMain.jpg');
    background-size: cover;
    height: 100vh;
}
section.boxesList .row{
    background-color: #000;
    padding-bottom: 8vh;
}
section.sectionDefault .dividerVertical{
    position: relative;
    height: 20vh;
    align-items: center;
}
section.sectionDefault .dividerVertical span {
    height: 4rem;
}
section.myApresentationWorks .row .listImgs figure{
    height: 70vh;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    position: relative;
    width: 16.66%;
}
section.myApresentationWorks .row .listImgs figure:hover{
    min-width: 30%;
}
section.myApresentationAbout .col .cardAbout figure{
    min-height: 85vh;
    background-size: cover;
    background-position: center;
    padding: 2rem;
}
section.myApresentationAbout .cardAbout h4{
    font-size: 1.2rem;
    font-weight: var(--middleFontWeight);
}
section.myApresentationAbout .cardAbout.cardInfo p{
    color: var(--myGray);
    margin-top: 1rem;
    line-height: 1.8;
}
section.myApresentationAbout .col:nth-of-type(1) .cardAbout figure{
    min-height: 85vh;
}
section.myApresentationAbout .col:nth-of-type(2) .cardAbout figure:nth-of-type(1){
    margin-bottom: 1.5vh;
}
section.myApresentationAbout .col:nth-of-type(2) .cardAbout figure{
    min-height: 42vh;
}
section.myApresentationAbout .cardAbout.cardInfo{
    border-right: 3px solid var(--myGreen);
    min-height: 25vh;
}
section.myApresentationAbout .cardAbout.cardInfo:last-child{
    border-right: 0;
}
section.myApresentationTestimonials{
    background-color:var(--bgCard);
    padding: 4rem 0;
}
section.myApresentationTestimonials .listTestimonials{
	flex-wrap: nowrap;
	max-width: 100%;
	transition: all 0.5s linear;
}
section.myApresentationTestimonials .card.cardTestimonial, section.myApresentationBlog .card.cardTestimonial{
    background-color: var(--bgMain);
    -webkit-box-shadow: 9px 11px 14px 0 rgb(0 0 0 / 10%);
    box-shadow: 9px 11px 14px 0 rgb(0 0 0 / 10%);
    border:1px solid var(--borderColor);
    padding: 2rem;
    position: relative;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    z-index: 1;
    min-height: 60vh;
}
div.ratings ul li{
    margin: 0 0.3rem;
}
div.ratings ul li i{
    fill: var(--myYellow);
}
.card figure.userImg img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
section.myApresentationTestimonials .card.cardTestimonial {
    min-width: 24%;
    max-width: 24%;
    margin: 0 1% 0 0;
}
section.myApresentationTestimonials .card.cardTestimonial .userWrap{
    position: absolute;
    bottom: -15vh;
}
section.myApresentationTestimonials .card.cardTestimonial .userInfo h2 {
    font-size: 1.15rem;
    font-weight: var(--middleFontWeight);
}
section.myApresentationBlog{
    padding: 4rem 0;
}
section.myApresentationBlog .card.cardTestimonial{
    padding: 0;
}
section.myApresentationBlog .card.cardTestimonial figure.imgPost img{
    height: 55vh;
}
section.myApresentationBlog .card.cardTestimonial .bodyInfo{
    padding: 1rem 1rem 3rem 1rem;
}
section.myApresentationBlog .card.cardTestimonial .bodyInfo p{
    line-height: 2rem;
    font-size: 0.96rem;
}
section.myApresentationBlog .card.cardTestimonial .bodyInfo .actionBtn a.button {
    padding: 0.7rem 1.3rem 0.7em 1.3rem;
    font-size: 0.9rem;
}
section.networks{
    background-image:url('../images/bgMainTwo.jpg');
    height: 85vh;
    background-size: cover;
}
section.networks div.dividerVertical{
    height: 20vh;
    align-items: center;
    position: absolute;
    top: -6rem;
}
section.networks .socials ul li{
    margin:0 1rem;
}
section.networks .socials ul li a{
    border: 2px solid var(--myGreen);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.networks .socials ul li a i{
    color:var(--myWhite);
    font-size: 2rem;
}
section.networks .textAction h3{
    margin: 3rem 0;
}

/*LOGIN*/
section.boxLogin{
    height: 120vh;
    width: 100%;
    background-color: #121212;
}
section.boxLogin form input{
    margin-bottom: 1.5rem;
}
/*ÁREA DO ALUNO*/
.separate{
    height: 20vh;
    z-index: 0;
}
section.contentStudent .row{
    min-height: 100vh;
}
section.contentStudent div.contentClasses{
    min-width: 25%;
    animation: fadeInBlock 1s;
    position: relative;
    z-index: 3;
}
section.contentStudent div.contentIframe{
    min-width: 75%
}
section.contentStudent div.contentClasses nav ul li{
    padding: 1rem 3rem;
}
section.contentStudent div.contentClasses nav ul li ul li{
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
}
section.contentStudent div.contentClasses nav ul li ul li i{
    color: var(--myGreen);
    font-size: 0.8rem;
    margin-right: 2%;
}
section.contentStudent div.contentClasses nav ul li a{
    color: var(--myGray);
    font-weight: 400;
    font-size: 0.9rem;
}
section.contentStudent div.contentIframe iframe{
    min-height: 82vh;
    min-width: 95%;
}
section.contentStudent .btnArrow{
    background-color: var(--bgCard);
}
section.contentStudent .btnArrow i{
    transition: 0.4s ease-in;
}
section.contentStudent .contentIframe .iframe iframe{
    transition: 1s ease-in;
}
iframe.transform{
    transform:perspective(300px) rotatey(-7deg);
}
iframe.fullscreenIframe{
    transform:unset;
    width: 100%;
    height: 100%;
    position: fixed;
    left:0;
    top: 0;
    animation: fadeInElement 1s;
    z-index: 100000;
}
button.accordion {
    cursor: pointer;
    width: 100%;
    transition: 0.4s;
    text-align: left;
}
.panel.show {
    display: block;
}
.panel {
    max-height: 0;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    opacity: 0;
}
.panel.show {
    opacity: 1;
    max-height: 500px; 
}
section.infoUser .wrap{
    height: 50%;
    width: 20%;
    position: fixed;
    top: 25%;
    left:0;
    display: flex;
    align-items: center;
    background-color: var(--bgInputSecond);
    z-index: 1000;
    transform: translateX(-260px);
}
section.infoUser .row{
    height: 100%;
    width: 100%;
}
section.infoUser .cardUser{
    padding: 3rem;
}
section.infoUser figure.imgCardUser img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
section.infoUser .cardUser .infoUser h2{
    font-size: 1.2rem;
    font-weight: 400;
}










@media screen and (max-width: 780px){
    .hideMobile{
        display: none;
    }
    .hideDesktop{
        display: flex;
    }
    .gridOneMobile{
        grid-template-columns: 100%;
    }
    .gridTwoMobile{
        grid-template-columns: 50% 50%;
    }
    .w100Mobile{
        width: 100%;
    }
    .itemsBlockMobile{
        display: block;
    }
    .marginSideSmallInMobile{
        margin: 0 0;
    }
    .marginDownSmallInMobile{
        margin-bottom: 1rem;
    }
    .textCenterMobile{
        text-align: center;
    }
    .justCenterMobile{
        justify-content: center;
    }
    .card{
        margin-bottom: 2rem;
        padding: 2rem 2.5rem 2rem 2.5rem;
    }

    .menuForMobile i{
        color: var(--myWhite);
        cursor: pointer;
    }
    nav.menuItems{
        position: absolute;
        top:20vh;
        left:0;
        width:100%;
        min-height: 100%;
        background-color: var(--bgMain);
        z-index: 9999;
    }
    div.title h2 {
        font-size: 3rem;
    }
    section.myApresentation {
        background-position: center;
    }
    section.boxesList .boxes .card:nth-of-type(2){
        order: 3;
    }
    div.title .line{
        display: none;
    }
    section.myApresentationAbout .cardAbout.cardInfo {
        border-right: 0;
        min-height: 30vh;
    }
    section.myApresentationTestimonials .card.cardTestimonial {
        min-width: 49%;
        margin:0 1% 0 0;
        min-height: 75vh;
    }
    section.networks div.title h3 {
        font-size: 2.5rem;
    }
    section.contentStudent div.contentClasses {
        min-width: 45%;
    }
    section.infoUser .wrap {
        width: 50%;
        transform: translateX(-235px);
    }
}


@keyframes fadeInBlock{
    0%{
        left: -7%;
    }
    50%{
        left: -5%;
    }
    100%{
        left: 0;
    }
}

@keyframes fadeInElement{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

